In [ ]:
a = 10
print(a)
print("a=",id(a))

b=10
print(b)
print("b=",id(b))

c=a
print(c)
print("c=",id(c))

In [ ]:
# dynamic programming

a=10
print(a)
print(id(a))

a = 3.14
print(a)
print(id(a))

a ="NTT"
print(a)
print(id(a))

In [ ]:
# deleting a variable

a = 20
print(a)
del a
print(a)

In [ ]:
# creating multiple variables

a,b,c = 10 , 3.14 , "NTT"
print(a,b,c)

10 3.14 NTT

In [ ]:
#assign single values to multiple variables

a=b=c=100
print(a,b,c)

100 100 100

In [ ]:
# variable annonation
a: int = 10
print(a)

print(__annotations__['a'])

b: float = 31.3
print(b)

print(__annotations__['b'])

c: str = "NTT"
print(c)

print(__annotations__['c'])

a = "Blr"

print(a)

10
<class 'int'>
31.3
<class 'float'>
NTT
<class 'str'>
Blr

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
# this section is for commentingqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
#ddddddddddddddddddddddd
#ddddddddddddddddddddd

In [ ]:
# multiline comments

""" efdasdfasdf
asdfasdfasdf
asdfasdfasdf
asdfasfasdfasdfasdfasfd """

print("multiline comment")

multiline comment

In [ ]:
# string

s= "code yug"

print(s[0:3:1])
print(s[2:4])

cod
de

In [ ]:
# slicing

s = "bangalore"

print(s[::])

bangalore

In [ ]:
# negative slicing

s = "bangalore"

print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-2:-6:2])

print(s[-1: :-1])

ero
eoan

erolagnab

In [ ]:
#DAY3
#simple if statement
if 10>5:
    print("10 is greater than 5")
    print("inside if block")
    print("inside if block")

print("outside if block")

10 is greater than 5
inside if block
inside if block
outside if block

In [ ]:
# string is palindrome or not
def is_palindrome(text):
  processed_text = text
  return processed_text == processed_text[::-1]

string = input("Enter a string: ")
print(string[::-1])
if is_palindrome(string):
  print(f"'{string}' is a palindrome.")
else:
  print(f"'{string}' is not a palindrome.")

Enter a string: soujanya
aynajuos
'soujanya' is not a palindrome.

In [ ]:
# reversing a string
def reverse_string(s):
  return s[::-1]

string = input("Enter a string: ")
print(reverse_string(string))

Enter a string: mahender
redneham

In [ ]:
# Nested forloop
for i in "BLR":
  print("inner loop")
  for j in [10,30,20]:
    print(i,j)
    print("outer loop")

inner loop
B 10
outer loop
B 30
outer loop
B 20
outer loop
inner loop
L 10
outer loop
L 30
outer loop
L 20
outer loop
inner loop
R 10
outer loop
R 30
outer loop
R 20
outer loop

In [ ]:
for i in "bangalore":
  if i == "g":
    break

print("End of loop")

End of loop

In [ ]:
#string deletion
s1="APPLE"
s1[0]="A"

TypeError: 'str' object does not support item assignment

In [ ]:
s1="APPLE"
print(len(s1))

del s1

5

In [ ]:
mainstring = input("enter a main string")
substring = input("enter a substring")
if substring in mainstring:
  print("substring is present")
else:
  print("substring is not present")

enter a main string9948308412
enter a substring99
substring is present

In [ ]:
mobile_num=input('Enter any mobile no. of user"s choice')

if mobile_num.startswith('+91'):
  print(f'{mobile_num} belongs to India !!')
elif mobile_num.startswith('+353'):
  print(f'{mobile_num} belongs to Ireland !!')

else:
  print('Invalid choice')

Enter any mobile no. of user"s choice+353675756545
+353675756545 belongs to Ireland !!

In [ ]:
str=input("enter the url")
if str.endswith(".com"):
  print("commercial website")
elif str.endswith(".edu"):
  print("education website")
else:
  print("invalid")

enter the url.com
commercial website

In [ ]:
#lstrip
name= input("enter the name")
print(name)
name = name.lstrip()
print(name)

enter the name soujanya
 soujanya
soujanya

In [ ]:
url= ["http://www.mynthra.com","http://www.amazon.com","http://www.gmail.com"]
for i in url:
  #i=i.lstrip("http://www.")
  i=i.lstrip("htp:/w.")



  print(i)

mynthra.com
amazon.com
gmail.com

In [ ]:
#lstrip

l=["http://www.myntra.com","http://www.ntt.com","http://www.google.com"]
for i in l:
  print(i.lstrip("http://www."))
for j in l:
  print(j.lstrip("hp:/w."))

myntra.com
ntt.com
google.com
ttp://www.myntra.com
ttp://www.ntt.com
ttp://www.google.com

In [ ]:
#strip
url= ["http://www.mynthro.com","http://www.ajio.com","http://www.google.com"]
for i in url:
  #i=i.strip("http://www.")
  i=i.lstrip("http://www.")
  print(i)

mynthro.com
ajio.com
google.com

In [ ]:
#coparison of string
s1 = "Apple"
s2 = "apple"
if s1 == s2:
  print("equal")
else:
  print("not equal")

not equal

In [ ]:

print(ord('a'))

print(ord('A'))

97
65

In [ ]:
#replace
s = "apple"
s1= s.replace('p','P',1)
print(s1)
print(s)

aPple
apple

In [1]:
#appendloop

l1=[10,20,30]

i=0

while i<5:

  l=int(input("enternum"))

  l1.append(l)

  i=i+1

print(l1)

enternum40
enternum50
enternum60
enternum70
enternum80
[10, 20, 30, 40, 50, 60, 70, 80]

In [3]:
# extend
l1 = [10,20,30]
#l1.extend([40,50,60])
#l1.extend((40,50,60))
l1.extend(('NTT'))
print(l1)

[10, 20, 30, 'N', 'T', 'T']

In [4]:
a= [1,2,3]
b= [4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [7]:
a= [1,2,3]
b= [4,5,6]
b.extend(a)
print(b)
print(a)

[4, 5, 6, 1, 2, 3]
[1, 2, 3]