In [ ]:
a = 10
print(a)
print("a=",id(a))

b=10
print(b)
print("b=",id(b))

c=a
print(c)
print("c=",id(c))

In [ ]:
# dynamic programming

a=10
print(a)
print(id(a))

a = 3.14
print(a)
print(id(a))

a ="NTT"
print(a)
print(id(a))

In [ ]:
# deleting a variable

a = 20
print(a)
del a
print(a)

In [ ]:
# creating multiple variables

a,b,c = 10 , 3.14 , "NTT"
print(a,b,c)

In [ ]:
#assign single values to multiple variables

a=b=c=100
print(a,b,c)

In [ ]:
# variable annonation
a: int = 10
print(a)

print(__annotations__['a'])

b: float = 31.3
print(b)

print(__annotations__['b'])

c: str = "NTT"
print(c)

print(__annotations__['c'])

a = "Blr"

print(a)

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

In [ ]:
# this section is for commentingqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
#ddddddddddddddddddddddd
#ddddddddddddddddddddd

In [ ]:
# multiline comments

""" efdasdfasdf
asdfasdfasdf
asdfasdfasdf
asdfasfasdfasdfasdfasfd """

print("multiline comment")

In [ ]:
# string

s= "code yug"

print(s[0:3:1])
print(s[2:4])

In [ ]:
# slicing

s = "bangalore"

print(s[::])

In [ ]:
# negative slicing

s = "bangalore"

print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-2:-6:2])

print(s[-1: :-1])

In [ ]:
s = "bangalore"

print(s[20])

In [ ]:
#day3

# simple if statement

if 10>5:
  print("10 is greater than 5")
  print(" i am inside if bloxk")
  print("still i am inside if block")
  print("i am outside if block")

In [ ]:
# input statement

name = input(" enter your name")
print("your name is",name)

In [ ]:
no1 = int(input(" enter the first no"))
no2 = int(input("enter the 2nd number"))

if no1 > no2:
  print("no1 is greater")

In [ ]:
no1 = float(input(" enter the first no"))
no2 = float(input("enter the 2nd number"))
print(no1+no2)

In [ ]:
age = int(input("enter your age"))

if age >= 18 :
  print("welcome to vote")
  print("you can vote")
else:
  print("you cannot vote")

print("Thank you")

In [ ]:
a = int ( input("enter a no"))

if a % 2 == 0 :
  print(" even no")
else:
  print("odd")

In [ ]:
#  if elif else

grade = int(input("enter your score"))

if grade >= 90:
  print("A grade")
elif grade >= 80:
  print("B grade")
elif grade >= 70:
  print("c grade")

else:
  print("fail")

In [ ]:
# nested if

num = int(input("enetr a no"))

if num > 0 :
  print("numer is a positive number")
  if num%2 == 0:
    print("number is even")
  else:
    print("number is odd")
else:
  print("negative number")

In [ ]:
# while loop

i=2

while i<=5:
  print(i)
  i =i+1

In [ ]:
# multiplication table

num = int(input("enter the table no"))

i=1

while i <=10:
  print(i*num)
  i=i+1

In [ ]:
i= 1
while i <= 100:
  print(i)
  i+=2

In [36]:
# for loop

for i in "Good" :
  print("Ntt data")

Ntt data
Ntt data
Ntt data
Ntt data

In [38]:
v = ['a','e','i','o','u']

st = "bangalore"
counter= 0

for i in "bangalore":
  if i in v:
    counter = counter + 1

print(counter)

enetr a stringaaabbbuuu
6