In [ ]:
a = 10
print(a)
print("a=",id(a))

b=10
print(b)
print("b=",id(b))

c=a
print(c)
print("c=",id(c))

In [ ]:
# dynamic programming

a=10
print(a)
print(id(a))

a = 3.14
print(a)
print(id(a))

a ="NTT"
print(a)
print(id(a))

In [ ]:
# deleting a variable

a = 20
print(a)
del a
print(a)

In [ ]:
# creating multiple variables

a,b,c = 10 , 3.14 , "NTT"
print(a,b,c)

10 3.14 NTT

In [ ]:
#assign single values to multiple variables

a=b=c=100
print(a,b,c)

100 100 100

In [ ]:
# variable annonation
a: int = 10
print(a)

print(__annotations__['a'])

b: float = 31.3
print(b)

print(__annotations__['b'])

c: str = "NTT"
print(c)

print(__annotations__['c'])

a = "Blr"

print(a)

10
<class 'int'>
31.3
<class 'float'>
NTT
<class 'str'>
Blr

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
# this section is for commentingqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
#ddddddddddddddddddddddd
#ddddddddddddddddddddd

In [ ]:
# multiline comments

""" efdasdfasdf
asdfasdfasdf
asdfasdfasdf
asdfasfasdfasdfasdfasfd """

print("multiline comment")

multiline comment

In [ ]:
# string

s= "code yug"

print(s[0:3:1])
print(s[2:4])

cod
de

In [ ]:
# slicing

s = "bangalore"

print(s[::])

bangalore

In [ ]:
# negative slicing

s = "bangalore"

print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-2:-6:2])

print(s[-1: :-1])

ero
eoan

erolagnab

In [ ]:
#DAY3
#simple if statement
if 10>5:
    print("10 is greater than 5")
    print("inside if block")
    print("inside if block")

print("outside if block")

10 is greater than 5
inside if block
inside if block
outside if block

In [ ]:
# string is palindrome or not
def is_palindrome(text):
  processed_text = text
  return processed_text == processed_text[::-1]

string = input("Enter a string: ")
print(string[::-1])
if is_palindrome(string):
  print(f"'{string}' is a palindrome.")
else:
  print(f"'{string}' is not a palindrome.")

Enter a string: soujanya
aynajuos
'soujanya' is not a palindrome.

In [ ]:
# reversing a string
def reverse_string(s):
  return s[::-1]

string = input("Enter a string: ")
print(reverse_string(string))

Enter a string: mahender
redneham

In [ ]:
# Nested forloop
for i in "BLR":
  print("inner loop")
  for j in [10,30,20]:
    print(i,j)
    print("outer loop")

inner loop
B 10
outer loop
B 30
outer loop
B 20
outer loop
inner loop
L 10
outer loop
L 30
outer loop
L 20
outer loop
inner loop
R 10
outer loop
R 30
outer loop
R 20
outer loop

In [ ]:
for i in "bangalore":
  if i == "g":
    break

print("End of loop")

End of loop

In [ ]:
#string deletion
s1="APPLE"
s1[0]="A"

TypeError: 'str' object does not support item assignment

In [ ]:
s1="APPLE"
print(len(s1))

del s1

5

In [ ]:
mainstring = input("enter a main string")
substring = input("enter a substring")
if substring in mainstring:
  print("substring is present")
else:
  print("substring is not present")

enter a main string9948308412
enter a substring99
substring is present

In [ ]:
mobile_num=input('Enter any mobile no. of user"s choice')

if mobile_num.startswith('+91'):
  print(f'{mobile_num} belongs to India !!')
elif mobile_num.startswith('+353'):
  print(f'{mobile_num} belongs to Ireland !!')

else:
  print('Invalid choice')

Enter any mobile no. of user"s choice+353675756545
+353675756545 belongs to Ireland !!

In [ ]:
str=input("enter the url")
if str.endswith(".com"):
  print("commercial website")
elif str.endswith(".edu"):
  print("education website")
else:
  print("invalid")

enter the url.com
commercial website

In [ ]:
#lstrip
name= input("enter the name")
print(name)
name = name.lstrip()
print(name)

enter the name soujanya
 soujanya
soujanya

In [ ]:
url= ["http://www.mynthra.com","http://www.amazon.com","http://www.gmail.com"]
for i in url:
  #i=i.lstrip("http://www.")
  i=i.lstrip("htp:/w.")



  print(i)

mynthra.com
amazon.com
gmail.com

In [ ]:
#lstrip

l=["http://www.myntra.com","http://www.ntt.com","http://www.google.com"]
for i in l:
  print(i.lstrip("http://www."))
for j in l:
  print(j.lstrip("hp:/w."))

myntra.com
ntt.com
google.com
ttp://www.myntra.com
ttp://www.ntt.com
ttp://www.google.com

In [ ]:
#strip
url= ["http://www.mynthro.com","http://www.ajio.com","http://www.google.com"]
for i in url:
  #i=i.strip("http://www.")
  i=i.lstrip("http://www.")
  print(i)

mynthro.com
ajio.com
google.com

In [ ]:
#coparison of string
s1 = "Apple"
s2 = "apple"
if s1 == s2:
  print("equal")
else:
  print("not equal")

not equal

In [ ]:

print(ord('a'))

print(ord('A'))

97
65

In [ ]:
#replace
s = "apple"
s1= s.replace('p','P',1)
print(s1)
print(s)

aPple
apple

In [ ]:
#appendloop

l1=[10,20,30]

i=0

while i<5:

  l=int(input("enternum"))

  l1.append(l)

  i=i+1

print(l1)

enternum40
enternum50
enternum60
enternum70
enternum80
[10, 20, 30, 40, 50, 60, 70, 80]

In [ ]:
# extend
l1 = [10,20,30]
#l1.extend([40,50,60])
#l1.extend((40,50,60))
l1.extend(('NTT'))
print(l1)

[10, 20, 30, 'N', 'T', 'T']

In [ ]:
a= [1,2,3]
b= [4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
a= [1,2,3]
b= [4,5,6]
b.extend(a)
print(b)
print(a)

[4, 5, 6, 1, 2, 3]
[1, 2, 3]

In [ ]:
import pandas as pd

data = pd.Series([1,2,3],index=['a','b','c'])

str1 = data.to_string()
print(data)
print(type(str1))
print(str1)

a    1
b    2
c    3
dtype: int64
<class 'str'>
a    1
b    2
c    3

In [ ]:
import pandas as pd
s = pd.Series([1,2,3],index=['a','b','c'])

data = s.to_frame(name='Numbers')
print(data)
print(type(data))

   Numbers
a        1
b        2
c        3
<class 'pandas.core.frame.DataFrame'>

In [ ]:
import pandas as pd

data = [['John',101],['James',102],['Harry',103]]

df = pd.DataFrame(data), columns=['Name','Id'])

print(df)
print(type(df))

SyntaxError: unmatched ')' (<ipython-input-4-63143e5d375a>, line 5)

In [ ]:
import pandas as pd
data = {'Name':['Abc','Bcd','Cde'],'location':['Noida','Gurgaon','Bangalore']}
df = pd.DataFrame(data)
print(df)

  Name   location
0  Abc      Noida
1  Bcd    Gurgaon
2  Cde  Bangalore

In [ ]:
import pandas as pd
data =[{'name1':'Ravi','name2':'Jay'},{'name1':'James','name2':'Raj','name3':'Harry'}]
df1 = pd.DataFrame(data, index=['First','Second'],columns=['name1','name2'])
print(df1)
df2 = pd.DataFrame(data, index=['First','Third'],columns=['name1','name3'])
print(df2)
df3 = pd.DataFrame(data, index=['Three','Four'],columns=['name3','name4'])
print(df3)

        name1 name2
First    Ravi   Jay
Second  James   Raj
       name1  name3
First   Ravi    NaN
Third  James  Harry
       name3  name4
Three    NaN    NaN
Four   Harry    NaN

In [ ]:
import pandas as pd
data = {'Name':['Jai','Ram','Raj'],
        'Id':[101,102,123],
        'address':['Noida','Gurgaon','Bangalore'],
        'Experience':[1.2,5.0,5.6]}
df = pd.DataFrame(data)
print(df[['Name','Id','Experience']])

  Name   Id  Experience
0  Jai  101         1.2
1  Ram  102         5.0
2  Raj  123         5.6

In [ ]:
import pandas as pd
s = {'one':pd.Series([1,2,3],index=['a','b','c']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
print(s)
df = pd.DataFrame(s)
print(df)
#print(df[['one','two']])

{'one': a    1
b    2
c    3
dtype: int64, 'two': a    1
b    2
c    3
d    4
dtype: int64}
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
import pandas as pd

df= pd.DataFrame([['abc','bcd'],['cde','def'],['efg','fgh'],['ghi','hij']],columns=['col1','col2'])

print("Data Frame : ", df)

# row based sliceing

res = df.iloc[1:3,:]
print('After slicing the data')
print(res)

Data Frame :    col1 col2
0  abc  bcd
1  cde  def
2  efg  fgh
3  ghi  hij
After slicing the data
  col1 col2
1  cde  def
2  efg  fgh

In [ ]:
import pandas as pd
data={'First':[1,2,3],'Second':[4,5,6],'Third':[7,8,9]}
df = pd.DataFrame(data)
sl1 = df.iloc[:,0]
print('single column slice')
print(sl1)

sl2 = df.iloc[:,0:1]
print('single column slice')
print(sl2)

sl3 = df.iloc[:,0]
print('single column slice')
print(sl3)

sl4 = df.iloc[:,0:3]
print('slicing more than 1 column')
print(sl4)

single column slice
0    1
1    2
2    3
Name: First, dtype: int64
slicing more than 1 column
   First  Second  Third
0      1       4      7
1      2       5      8
2      3       6      9

In [7]:
class Calculator:
  def __init__(self, num1, num2):
    self.num1 = 0
    self.num2 = 0
    self.res =0
  def input_data(self):
    self.num1 = int(input("enter first number"))
    self.num2 = int(input("enter second number"))

  def add(self):
    self.res = self.num1 + self.num2
    print(self.res)
  def sub(self):
    self.res = self.num1 - self.num2
    print(self.res)

  def mul(self):
    self.res = self.num1 * self.num2
    print(self.res)

  def div(self):
    self.res = self.num1 / self.num2
    print(self.res)

obj1 = Calculator()
obj1.input_data()

obj1.add()
obj1.sub()
obj1.mul()
obj1.div()

TypeError: Calculator.__init__() missing 2 required positional arguments: 'num1' and 'num2'

In [9]:
class Employee:
  def __init__(self):
    self.name = ''
    self.empid = 0
    self.dept = ''
    self.salary = 0
    self.bonus = 20
    self.total_salary = 0

  def read_input(self):
    self.name = input("Enter employee name :")
    self.empid = int(input("Enter employee id :"))
    self.dept = input("Enter employee department :")
    self.salary = int(input("Enter employee salary :"))

  def calculate_salary(self):
    self.total_salary = self.salary + self.bonus

  def display_details(self):
    print('Employee Name:', self.name, ', Employee ID:', self.empid, '\nDepartment:', self.dept, ', Salary:', self.salary, ', Bonus:', self.bonus, ', Total Salary:', self.total_salary)

e1 = Employee()
e1.read_input()
e1.calculate_salary()
e1.display_details()

Enter employee name :soujanya
Enter employee id :319
Enter employee department :dev
Enter employee salary :400000
Employee Name: soujanya , Employee ID: 319
Department: dev , Salary: 400000 , Bonus: 20 , Total Salary: 400020

In [10]:
# Parameterized constructor

class Employee:

  def __init__(self,name,id,dept,bsal):
    self.emp_name = name
    self.emp_id = id
    self.emp_dept = dept
    self.bsal = bsal
    self.bonus = 20
    self.fsal = 0

  def cal_sal(self):
    self.fsal = self.bsal + (self.bsal*self.bonus/100)

  def output_data(self):
    print('Name: ',self.emp_name)
    print('Id: ',self.emp_id)
    print('Dept: ',self.emp_dept)
    print('Total Salary: ',self.fsal)

e1 = Employee('Ria',101,'Tech',10000)
e1.cal_sal()
e1.output_data()

Name:  Ria
Id:  101
Dept:  Tech
Total Salary:  12000.0