In [ ]:
print("Hello World")

In [ ]:
# simple function

def fun():
  print("Hello world")
  print("welcome")


print("before function call")
fun()
print("after function call")

In [ ]:
# program to print the square of no
# without arguments , without return values
def square():
  x = int(input("enetr a no"))
  y = x**2
  print("square of",x,"is",y)

square()

In [ ]:
 #with arguments , with return values

def square(x):
    #y = x**2
    return x**2


x = int(input("enetr a no"))
res = square(x)
print(res)

In [ ]:
#with arguments , without return values
def square(x):
  y = x**2
  print("square of",x,"is",y)


x = int(input("enetr a no"))
square(x)

In [ ]:
#without args , with return values

def square():
  x = int(input("enetr a no"))
  y = x**2
  return y

res = square()
print(res)

In [ ]:
# return statement


def test(a,b,c,d):

  return a,b,c,d

x,y = test(10,20,30,40)[1:3]

print(x,y)
print(type(x))

In [ ]:
# return

def test1():
  l1 = [10,20,30,40]
  t1 = (60,70,80)
  return l1,t1

x = test1()
print(x)
print(type(x))

In [ ]:
def func1(a,b,c,d):
  return a,b,c,d

 = func1(10,20,30,40)
print(a,a)

In [ ]:
_ = 10
print(_)

In [ ]:
#day 13

# function calling another fn

def test1():
  print("i am insude test1")
  test2() # fn call
  print("i am back to test1")

def test2():
  print(" I am in test2")
  print("going back")

test1()  # fn call
print("end of program")

In [ ]:
# LOcal Variable- lifetime

def test():
  x=10
  x=x+1
  print(x)

test()
test()
test()

In [ ]:
# LOcal Variable- scope

def test():
  x=10
  x=x+1
  print(x)

test()
#print(x) error
test()
test()

In [ ]:
# global variable

n =10

def fun():
  print(n)

fun()
print(n)

In [ ]:
# global variable

n =10

def fun():
  n=5   # local varibale
  print(n)

fun()
print(n)

In [ ]:
# global variable

n =10

def fun():
  global n # global keyword
  n=n+1
  print(n)

def test():
  global n
  n= n+1
  print(n)


fun()
test()
print(n)

In [ ]:
# Function is also an object

def test():
  print("hello wrold")

i =10
print(type(i))

print(type(test))
print(test)

In [ ]:
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(4)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

In [ ]:
# alias name for a function

def test1():
  print("hello")

a = test1

a()

In [ ]:
# positional args or required ars

def test(name, age, city):
  print("my name is ", name , " and my age is ", age," and basically from",city)


test("Ram",25,"Delhi",)

In [ ]:
# keyword args

def test(name, age, city):
  print("my name is ", name , " and my age is ", age," and basically from",city)


test(age =25 , name ="Ram",city ="Delhi",)

In [ ]:
# keyword args and positional args

def test(name, current_city,city,age):
  print("my name is ", name , " and my age is ", age," and basically from",city,"but currently i live in",current_city)


test("ram","delhi",age = 25, city="Blr")

# positional args ----> keyword args
# keyword args should follow positional ars ,

In [ ]:
# default arguments

def student(name , age , m1,m2,m3 ,college="UVCE"):

  print(name,age, m1,m2,m3,college)


student("John",25,90,80,70)
student("Rose",21,91,86,75,"SSEC")

John 25 90 80 70 UVCE
Rose 21 91 86 75 SSEC

In [ ]:
# positional agrs ----> keyword args -----> Default args

def student(name , age , m1,m2,m3,college="UVCE"):

  print(name,age, m1,m2,m3,college)


student("John",age=21,m1=25,m2=90,m3=80, college= "SS")
student("Rose",21,91,86,75)

In [ ]:
# variable length args
def fun(*a):
  print(a)
  print(type(a))

fun(1,2)
fun(1,2,3)
fun(1,2,3,4)

(1, 2)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
# variable length positional args
def sum(*a):

  s = 0
  for i in a:
    s = s+i
  print(s)

sum(1,2)
sum(1,2,3)
sum(1,2,3,4)

In [ ]:
# variable length keyword args

def addition(**a):

  s=0
  for n in a.values():
    s= s+n
  print(s)

addition(a=10,b=20)  # values are packed as a dict
addition(a=22,b=33,c=44)

In [ ]:
# variable length positional args and variable length keyword  args

def add(*num,**nums ):
  print(sum(num))
  print(sum(nums.values()))

add(10,20,30,40, n1=100,n2=200,n3=300)

100
600

In [ ]:
#variable length positional args , keyword ars, default agrs

def student(name,clas,*parents_name,age,school= "UVCE",**marks):
  print('Name: ',name)
  print('class: ',clas)
  print('Parents: ', parents_name)
  print('Age: ',age)
  print('Marks: ',marks)
  print('School: ',school)

student('Ravi',5,'A','B',age=12,eng=90,maths=87,science=91)

Name:  Ravi
class:  5
Parents:  ('A', 'B')
Age:  12
Marks:  {'eng': 90, 'maths': 87, 'science': 91}
School:  UVCE

In [ ]:
#lambda function return single value

var = lambda x,y,z : x+y+z
print(var(10,20,30))

60

In [ ]:
add =lambda x,y : [x+y , x-y]
print( type(add(2,3)))
print( add(2,3))

<class 'list'>
[5, -1]

In [ ]:
a= lambda: print("hello")
print(a())

hello
None

In [ ]:
# using default agrs
add = lambda x, y=1 : x+y

print(add(4))

5

In [ ]:
# using key word args
add = lambda x, y : x+y
print(add(x=5,y=6))

11

In [ ]:
# using var lenghth args
add = lambda *x: sum(x)
print(add(1,2,3,4,5))

15

In [ ]:
area = lambda r: 3.14*r*r
print(area(5))

78.5

In [ ]:
# class and Objects

class Calculator:
  n1=0    # attributes
  n2=0
  res = 0

  def __init__(self,n1,n2):  # methods
    self.n1=0
    self.n2=0
    self.res=0

  def add(self , n1,n2):
    pass

  def sub(self , n1,n2):
    pass

  def mul(self , n1,n2):
    pass

  def div(self , n1,n2):
    pass



ob1 = Calculator(10,20) # obj1 creation
ob2 = Calculator(100,200) # obj2 creation

In [ ]:
# Class example

class Sample:

  def __init__(self):
    self.data = 10

  def input_data(self):
    self.data = input("enter some text")

  def process_data(self):
    self.data = self.data.upper()

  def output_data(self):
    print(self.data)

Obj1 = Sample()   #obj creation
Obj2= Sample()
Obj3 = Sample()

Obj1.input_data()
Obj1.process_data()
Obj1.output_data()

Obj2.input_data()
Obj2.process_data()
Obj2.output_data()

Obj3.input_data()
Obj3.process_data()
Obj3.output_data()

In [ ]:
# simple calculator

class Calculator:

  def __init__(self):
    self.n1=0             #attributes
    self.n2=0
    self.res=0

  def input_data(self):
    self.n1 = 100
    self.n2 = 200


  def add(self):
    self.res = self.n1 + self.n2
    print(self.res)

  def sub(self):
    self.res = self.n1 - self.n2
    print(self.res)

  def compare(self, other, other1):
    if self.res == other.res:
      return True
    else:
      return False



c1 = Calculator()  # obj creation
c1.input_data()
c1.add()
c1.sub()


c2 = Calculator()
c2.input_data()
c2.add()
c2.sub()

c1.compare(c2,10)

TypeError: Calculator.add() takes 0 positional arguments but 1 was given

In [ ]:
# student details
class Student:

  def __init__(self):
    self.name = ""
    self.age = 0
    self.m1=0
    self.m2=0
    self.m3=0
    self.avg=0

  def input_data(self):
    self.name = input("enter name")
    self.age = int(input("enter age"))
    self.m1 = int(input("enter m1"))
    self.m2 = int(input("enter m2"))
    self.m3 = int(input("enter m3"))

  def calculate_avg(self):
    self.avg = (self.m1+self.m2+self.m3)/3

  def student_data(self):
    print("Name: ",self.name)
    print("Age: ",self.age)
    print("Marks: ",self.m1,self.m2,self.m3)
    print("Average: ",self.avg)


s1= Student()
s2 = Student()
s3 = Student()

s1.input_data()
s1.calculate_avg()
s1.student_data()

s2.input_data()
s2.calculate_avg()
s2.student_data()

s3.input_data()
s3.calculate_avg()
s3.student_data()

enter nameVijay
enter age20
enter m190
enter m290
enter m380
Name:  Vijay
Age:  20
Marks:  90 90 80
Average:  86.66666666666667
enter nameJohn
enter age21
enter m178
enter m290
enter m399
Name:  John
Age:  21
Marks:  78 90 99
Average:  89.0
enter nameGeetha
enter age21
enter m189
enter m279
enter m359
Name:  Geetha
Age:  21
Marks:  89 79 59
Average:  75.66666666666667

In [ ]:
class Test:

  def __init__(self , aa,bb):
    self.res=0
    self.total=100
    self.a= aa
    self.b= bb

  def outputdata(self):
    print(self.a,self.b)

t1 = Test(10,20)
t2 = Test (1.1,2.2)

t1.outputdata()
t2.outputdata()

10 20
1.1 2.2

In [ ]:
class Employee:

  def __init__(self,name,id,dept,bsal):
    self.emp_name = name
    self.emp_id = id
    self.emp_dept = dept
    self.bsal = bsal
    self.bonus = 20
    self.fsal = 0

  def cal_sal(self):
    self.fsal = self.bsal + (self.bsal*self.bonus/100)

  def output_data(self):
    print('Name: ',self.emp_name)
    print('Id: ',self.emp_id)
    print('Dept: ',self.emp_dept)
    print('Total Salary: ',self.fsal)
a= input("enter a name")
b= input("enter the emp id")
e1 = Employee(a,b,'Tech',10000)
e1.cal_sal()
e1.output_data()

enter a namealex
Name:  alex
Id:  101
Dept:  Tech
Total Salary:  12000.0

In [ ]:
def __init__(self):
  pass


def fun1():


def fun2():
  pass

def fun3():
  pass

In [ ]:
def funnn():
  pass


funnn()

In [6]:
# Day 16
# class varaible

class Student:
  student_count=0  # class variable
  collegename= "JJCET"

  def __init__(self,name , age):
    self.name = name
    self.age= age
    Student.student_count = Student.student_count+1
    print(Student.student_count)
    self.collegename= "UVCE"   # local instance variable

  def display(self):
    print(self.name , self.age ,self.collegename, Student.collegename)

s1 = Student("Ram",20)
s2 = Student("Tejas",21)
s3= Student("Rose",22)

s1.display()
s2.display()
s3.display()

print(Student.collegename)
print(s1.collegename)
print(s2.student_count)

1
2
3
Ram 20 UVCE JJCET
Tejas 21 UVCE JJCET
Rose 22 UVCE JJCET
JJCET
UVCE
3

In [7]:
#class methods


class Student:
  student_count=0  # class variable
  collegename= "JJCET"

  def __init__(self,name , age):
    self.name = name
    self.age= age
    Student.student_count = Student.student_count+1
    print(Student.student_count)
    self.collegename= "UVCE"   # local instance variable


  @classmethod                 #class method
  def get_college(cls):
    print(cls.collegename)

  def display(self):
    print(self.name , self.age ,self.collegename, Student.collegename)

s1 = Student("Ram",20)
s2 = Student("Tejas",21)
s3= Student("Rose",22)

Student.get_college()         # class method called

s1.display()
s2.display()
s3.display()
"""
print(Student.collegename)
print(s1.collegename)
print(s2.student_count) """

1
2
3
JJCET
Ram 20 UVCE JJCET
Tejas 21 UVCE JJCET
Rose 22 UVCE JJCET

'\nprint(Student.collegename)\nprint(s1.collegename)\nprint(s2.student_count) '

In [9]:
# inheritance


class Employee:  #withoutr inheritance
  bonus=2000
  def display(self):
    print("this is a employee class method")


class Manager:
  bonus1 =5000
  def show(self):
    print("This is a manager class method")

e1= Employee()
e1.display()


m1= Manager()
m1.show()

m1.bonus  # error

this is a employee class method
This is a manager class method

AttributeError: 'Manager' object has no attribute 'bonus'

In [11]:
# inheritance


class Employee:  #withoutr inheritance
  bonus=2000
  def display(self):
    print("this is a employee class method")


class Manager(Employee):
  bonus1 =5000
  def show(self):
    print("This is a manager class method")

e1= Employee()
e1.display()


m1= Manager()
m1.show()

m1.bonus  # error

this is a employee class method
This is a manager class method

AttributeError: 'Employee' object has no attribute 'bonus1'

In [12]:
# constructors in inheritance

class Father:
  def __init__(self):
    print("Father class constructor")
    self.vehicle = "Scooter"

class Son(Father):
  pass

s= Son()
print(s.__dict__)

Father class constructor
{'vehicle': 'Scooter'}

In [13]:
# constructors in inheritance

class Father:
  def __init__(self):
    print("Father class constructor")
    self.vehicle = "Scooter"

class Son(Father):

  def __init__(self):
    print("son class constructor")
    self.vehicle= "BMW"

s= Son()
print(s.__dict__)

son class constructor
{'vehicle': 'BMW'}

In [16]:
## super method

class Computer:
  def __init__(self):
    print("Computer class constructor")
    self.ram= "8GB"
    self.processor = "i5"


class Mobile(Computer):
  def __init__(self):
    super().__init__()
    self.model= "iphone"
    print("mob constructor calld")



m = Mobile()

print(m.__dict__)

Computer class constructor
mob constructor calld
{'ram': '8GB', 'processor': 'i5', 'model': 'iphone'}

In [17]:
# Parameterized Super method

class Computer:
  def __init__(self,ram,pro):
    print("Computer class constructor")
    self.ram= ram
    self.processor = pro


class Mobile(Computer):
  def __init__(self,ram, processor):
    super().__init__(ram,processor)
    self.model= "iphone"
    print("mob constructor calld")



m = Mobile('8GB','i7')

print(m.__dict__)

Computer class constructor
mob constructor calld
{'ram': '8GB', 'processor': 'i7', 'model': 'iphone'}