In [ ]:
a = 10
print(a)
print("a=",id(a))

b=10
print(b)
print("b=",id(b))

c=a
print(c)
print("c=",id(c))

In [ ]:
# dynamic programming

a=10
print(a)
print(id(a))

a = 3.14
print(a)
print(id(a))

a ="NTT"
print(a)
print(id(a))

In [ ]:
# deleting a variable

a = 20
print(a)
del a
print(a)

In [ ]:
# creating multiple variables

a,b,c = 10 , 3.14 , "NTT"
print(a,b,c)

In [ ]:
#assign single values to multiple variables

a=b=c=100
print(a,b,c)

In [ ]:
# variable annonation
a: int = 10
print(a)

print(__annotations__['a'])

b: float = 31.3
print(b)

print(__annotations__['b'])

c: str = "NTT"
print(c)

print(__annotations__['c'])

a = "Blr"

print(a)

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

In [ ]:
# this section is for commentingqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
#ddddddddddddddddddddddd
#ddddddddddddddddddddd

In [ ]:
# multiline comments

""" efdasdfasdf
asdfasdfasdf
asdfasdfasdf
asdfasfasdfasdfasdfasfd """

print("multiline comment")

In [ ]:
# string

s= "code yug"

print(s[0:3:1])
print(s[2:4])

In [ ]:
# slicing

s = "bangalore"

print(s[::])

In [ ]:
# negative slicing

s = "bangalore"

print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-2:-6:2])

print(s[-1: :-1])

In [ ]:
s = "bangalore"

print(s[20])

In [ ]:
#day3

# simple if statement

if 10>5:
  print("10 is greater than 5")
  print(" i am inside if bloxk")
  print("still i am inside if block")
  print("i am outside if block")

In [ ]:
# input statement

name = input(" enter your name")
print("your name is",name)

In [ ]:
no1 = int(input(" enter the first no"))
no2 = int(input("enter the 2nd number"))

if no1 > no2:
  print("no1 is greater")

In [ ]:
no1 = float(input(" enter the first no"))
no2 = float(input("enter the 2nd number"))
print(no1+no2)

In [ ]:
age = int(input("enter your age"))

if age >= 18 :
  print("welcome to vote")
  print("you can vote")
else:
  print("you cannot vote")

print("Thank you")

In [ ]:
a = int ( input("enter a no"))

if a % 2 == 0 :
  print(" even no")
else:
  print("odd")

In [ ]:
#  if elif else

grade = int(input("enter your score"))

if grade >= 90:
  print("A grade")
elif grade >= 80:
  print("B grade")
elif grade >= 70:
  print("c grade")

else:
  print("fail")

In [ ]:
# nested if

num = int(input("enetr a no"))

if num > 0 :
  print("numer is a positive number")
  if num%2 == 0:
    print("number is even")
  else:
    print("number is odd")
else:
  print("negative number")

In [ ]:
# while loop

i=2

while i<=5:
  print(i)
  i =i+1

In [ ]:
# multiplication table

num = int(input("enter the table no"))

i=1

while i <=10:
  print(i*num)
  i=i+1

In [ ]:
i= 1
while i <= 100:
  print(i)
  i+=2

In [ ]:
# for loop

for i in "Good" :
  print("Ntt data")

In [ ]:
v = ['a','e','i','o','u']

st = "bAngalOre".lower()
print(st)
counter= 0

for i in "bangalore":
  if i in v:
    counter = counter + 1

print(counter)

In [ ]:
#nested for loop
for i in "BLR":
  print("outer loop")
  for j in [10,20,30]:
    print("inner loop")
    print(i,j)

In [ ]:
# reverse a string using slicing

str = input( "enter a string")
rev = str[::-1]

if str == rev:
  print("palindrome")
else:
  print("not a pali")

In [ ]:
for i in "bangalore":
  print(i)
  if i == 'g':
    break


print("end of for loop")

In [ ]:
s1 = "apple"
s2 = "banana"
print(s1+s2)
print(s1*3)

In [ ]:
# string is immutable

s1 = "apple"
s1[0]= "A"
print(s1)

In [ ]:
#string deletion
s1= "apple"
print(s1)
del s1
print(s1)

In [ ]:
# length of the string
s1 = input("enter the string")
print(len(s1))

In [ ]:
#count method
s1 = "My name is khan and khan"
c = s1.count("khan",15,)
print(c)

In [ ]:
#startswith
mainstring = input("enter the main string")
substring = input("enter the substring")

if mainstring.startswith(substring):
  print("yes")
else:
  print("no")

In [ ]:
str=input("Enter a number: ")
if str.startswith("92"):
  print("Pak")
elif str.startswith("91"):
  print("India")
elif str.startswith("1"):
  print("USA")
elif str.startswith("3"):
  print("uk")
else:
  print("Number is invalid")

In [ ]:
str=input("enter the url")
if str.endswith(".com"):
  print("commercial website")
elif str.endswith(".edu"):
  print("education website")
else:
  print("invalid")

In [ ]:
# lstrip

name = input("Enter your name")
print(name)

name = name.lstrip(
)
print(name)

In [ ]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  #i = i.lstrip("http://www.")
  #i = i.lstrip("htp:/w.")
  i= i.lstrip(".tbckhrp/w")
  print(i)

In [ ]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]
for i in url:
  i= i.lstrip("zyth:/w")
  print(i)

In [ ]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  #i = i.lstrip("http://www.")
  #i = i.lstrip("htp:/w.")
  i= i.lstrip("wwhtp/w.")
  print(i)

In [ ]:

l=["http://www.myntra.com","http://www.ntt.com","http://www.google.com"]

for j in l:
  print(j.lstrip("htp:/w."))

In [ ]:
# strip
url=["http://www.myntra.com","http://www.ajio.com","http://www.google.com"]

for i in url:
  i = i.strip('htp.com')
  print(i)

In [ ]:
s1 = "Apple"

s2 = "apple"

if s1 != s2:
  print("same")
else:
  print("not same")

In [ ]:
print(ord('a'))

print(ord('A'))

In [ ]:
# replace

s = "apple"

s1 =s.replace('p','P',1)
print(s1)
print(s)

In [ ]:
#Split

s= "i live in bangalore since 2002"
s.split(' ' ,3)

In [ ]:
# List

l = [10,20,30,1.1,'NTT']
print(l)
print(type(l))

In [ ]:
# list indexing

l1 = [10,20.3,3.15,"NTT",[1,2,3]]
print(l1[1])
print(l1[-1])
print(l1[-2])

print(l1[4][2])

In [ ]:
# list slicing

l1 = [10,20.3,3.15,"NTT",[1,2,3]]

print(l1[::-1])

In [ ]:
# concatenation of list

l1 =[10,20]
l2 = [40,50,60]
l3 = l2+l1
print(l3)

In [ ]:
# multiplication of list

l1 =[10,20,30]

print(l1*3)

In [ ]:
# list iteration

l1 = [10,20,39,40]

for i in l1:
  print(i+1)

In [ ]:
# list membership

l1 = [10,20,30,40]

print('10' in l1)

In [ ]:
# list deletion

l1 = [10,20,30,40]

print(l1)

del l1[0:2]
print(l1)

In [ ]:
# max element

l1 = [10,20,30]
print(max(l1))

l2= ["appleyyyy",'amma','appleyyyy']
print(max(l2, key = len))

In [ ]:
l1= []
print(max(l1, default=1))

In [ ]:
# min method
l1 = [10,20,30]
print(min(l1))

In [ ]:
# append method

l1= [10,20,30]
l1.append(1.234)
print(l1)

In [ ]:
# append multiple elements
k=[1,2,3,4,5]
i=0
while i<5:
  l=int(input("enternum"))
  k.append(l)
  i=i+1
print(k)

In [ ]:
# extend
l1 =[10,20,30]
l1.extend("NTT")
print(l1)

In [ ]:
a=[1,2,3]
b=[4,5,6]
print(b.extend(a))
print (b)
print(a)

In [ ]:
# insert

l1= [10,20,30]
l1.insert(2,15)
print(l1)

In [ ]:
# remove method
l1 = [10,20,30,40,50,60,20]
print(l1.remove(20))  # remove returns none
print(l1)

In [ ]:
#pop
l1= [10,20,30,1,40,50]
print(l1.pop(1))
print(l1)

In [ ]:
# clear
l1= [10,20,30,1,40,50]
l1.clear()
print(l1)

In [ ]:
#del
l1= [10,20,30,1,40,50]
del l1
print(l1)

In [ ]:
l1 = [10,20,30,40]

print(l1.remove(30))

print(l1)

In [ ]:
l2 = [10,20,30,40]
k = l2.pop(2)
print(l2)
print("the popped ele is ", k)

In [ ]:
# progrm to remove duplicates from the given list

uniquelist = []
l1 = [10,20,30,10,25,20]

for ele in l1:
  if ele not in uniquelist:
    uniquelist.append(ele)

print(uniquelist)

In [ ]:
# program to find the 2nd largest no in the list

l1 = [2,8,6,14]
firstlargest = max(l1)
#print(firstlargest)
l1.remove(firstlargest)
#print(l1)

secondlargest = max(l1)
print("the 2nd largest no is ", secondlargest)

In [ ]:
# program to remove the nth largest no
num=int(input('Enter which largest num would you like to fetch? '))
l1 = [8,15,7,6,3,9]
for i in range(num-1):
  m = max(l1)
  l1.remove(m)

print('The largest number is ', max(l1))

In [ ]:
# program to print the occurance of the elements
#l1 = [2,2,4,4,5,5,6,6,6]
l1=[2,4,6,2,8,6,3,2,4]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
        print(i,"Occurs", l1.count(i), "times")

In [ ]:
l1=[2,4,6,2,8,6,3,2,4]

print(l1.count(4))

In [ ]:
l1 = [10,30,40]
print(l1)
print(type(l1))

In [ ]:
# Tuple

t1 = (10,20,30,40,50,"NTT",1.1)
print(t1)
print(type(t1))

In [ ]:
# tuple are immulatble
t1 = (10,20,30,40,50,"NTT",1.1)
t1.remove(20)
t1[0]=100

print(t1)

In [25]:
# tuple creation using a constructor
l1 = [10,20,30,40]

t1 = tuple(l1)
print(t1)
print(type(t1))

(10, 20, 30, 40)
<class 'tuple'>

In [27]:
# tuple with a single element

t2 = (8,)
print(t2)
print(type(t2))

(8,)
<class 'tuple'>

In [28]:
# tuple indexing

t1 = (10,20,30,40,50,"NTT",1.1)
print(t1[0])
print(t1[-1])
print(t1[-2])

10
1.1
NTT

In [32]:
# concatenation
t1 = (10,20,30,40,50,"NTT",1.1)
print(t1)

newtple = t1 + (80,90)

print(newtple))

135944746302336
135944748855280

In [33]:
# slicing

t1 = (10,20,30,40,50,"NTT",1.1)

print(t1[::])

print(t1[::-1])

(10, 20, 30, 40, 50, 'NTT', 1.1)
(1.1, 'NTT', 50, 40, 30, 20, 10)

In [34]:
t1 = (10,20,30,40,50,"NTT",1.1)

for ele in t1:
  print(ele)

10
20
30
40
50
NTT
1.1

In [35]:
import sys

list1 = [10,20,30,40,50,60]
tup1 =  (10,20,30,40,50,60)

print("list size is ", sys.getsizeof(list1))

print("tuple size is ", sys.getsizeof(tup1))

list size is  104
tuple size is  88

In [38]:
# dictionary

dict1 ={"pp":"aaa" , "qq":"bbb", "rr":"ccc","ss":"ddd"}
print(dict1)
print(type(dict1))

#access the dict

print(dict1["pp"])

{'pp': 'aaa', 'qq': 'bbb', 'rr': 'ccc', 'ss': 'ddd'}
<class 'dict'>
aaa