In [ ]:
import pandas as pd
import numpy as np

In [ ]:
bowling_data = pd.read_csv("best_economy_rates.csv")

In [ ]:
bowling_data

In [ ]:
type(bowling_data)

In [ ]:
student_dict = {'Name':['Ram','Radha'],'age':[20,21],'marks':[99,88]}
print(type(student_dict))

In [ ]:
pd.DataFrame(data = student_dict)  # crearting our own dataframe using the constructor

In [ ]:
pd.DataFrame(data = student_dict, index =['r1','r2'])  # row

In [ ]:
pd.DataFrame(data = student_dict, index =['r1','r2'], columns=['Name'])  # if u want only 1 coulumn to dispaly

In [ ]:
pd.DataFrame(data = student_dict, index =['r1','r2'], columns=['age' ,'Name']) # if u change the col order

In [ ]:
#dtype
#pd.DataFrame(data = student_dict, index =['r1','r2'], columns=['age' ,'Name'], dtype ='int32') # error
pd.DataFrame(data = student_dict, index =['r1','r2'], columns=['age' ,'Name'], dtype =None)

In [ ]:
# get the metadata of a dataframe

In [ ]:
bowling_data = pd.read_csv("best_economy_rates.csv")

In [ ]:
print(len(bowling_data))

In [ ]:
print(bowling_data.index)

In [ ]:
print(bowling_data.columns)

In [ ]:
print(bowling_data.columns[0])

In [ ]:
print(bowling_data.columns[0:5])

In [ ]:
print(bowling_data.dtypes)

In [ ]:
print(bowling_data.values)

In [ ]:
print(bowling_data.empty)

In [ ]:
print(bowling_data.size)

In [ ]:
print(bowling_data.shape)

In [ ]:
print(bowling_data.info())

In [ ]:
# head adn tail
print(bowling_data.head())
print(bowling_data.tail())

In [ ]:
print(bowling_data)

In [ ]:
data = pd.read_csv("Titanic-Dataset.csv")

In [ ]:
data

In [ ]:
data.min(numeric_only=True)

In [ ]:
data.min(axis=1 ,numeric_only=True)

In [ ]:
data.max(axis=0 ,numeric_only=True)

In [ ]:
# min or max of a specific col
data['Age'].max()

In [ ]:
data['Age'].min()

In [ ]:
#sum

#data.sum()  #erroe
data.sum(numeric_only= True)

In [ ]:
data.sum(axis=1,numeric_only= True)  # horizonta sum

In [ ]:
data.sum(numeric_only= True, skipna= False)

data.sum(numeric_only= True, skipna= True)

In [ ]:
# sum on specific no of rows
data.loc[0:10].sum(numeric_only= True)

In [ ]:
# what will b ethe op
data.head().sum(numeric_only= True, min_count=10)

In [ ]:
# count-- use to check null val are present
data.count()

In [ ]:
data.shape

In [61]:
# mean mode median

data1= [80,90,100,200,90,70]

df = pd.DataFrame(data1)

print(df)

     0
0   80
1   90
2  100
3  200
4   90
5   70

In [62]:
df.mean()

0    105.0
dtype: float64

In [63]:
df.median()

0    90.0
dtype: float64

In [64]:
df.mode()

    0
0  90

In [67]:
data.mean(numeric_only= True)

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [68]:
data['Age'].mean()

np.float64(29.69911764705882)

In [69]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
# how to select no of columns